<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Information</title>
  </head>
  <body>
     {% if user.is_authenticated %}

       {% load static %}
    <h2>Date:{{date}}</h2>
    <h1>Avalible Slots</h1>


    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
    </tr>
  </thead>
  <tbody>
    {% if avaliable %}
    {% for e in avaliable %}
    <tr>
      <th scope="row">{{e.name}}</th>
      <td>{{e.date}}</td>
      <td>{{e.From}}</td>
      <td>{{e.To}}</td>
    </tr>
    {% endfor  %}
    {% endif %}
  </tbody>
</table>
    <h1>Engaged slot</h1>

        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
    </tr>
  </thead>
  <tbody>
     {% if busy %}
    {% for e in busy %}
     {% if e.ids == date %}
    <tr>
      <th scope="row">{{e.name}}</th>
      <td>{{e.date}}</td>
      <td>{{e.From}}</td>
      <td>{{e.To}}</td>
    </tr>
     {% endif %}
    {% endfor  %}
    {% endif %}
  </tbody>
</table>

     {% else %}

     <h1>You are authorised </h1>


     {% endif %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>